<div id="statsback"></div>
<p id="hide">Racer <%=@round.winner.id %> won!</p>
<div id="stats">
	<h2>Your payout is: <span class="money"><%= @payout %></span></h2>
	<h2>Remaining funds: <span class="money">	<%= @funds %></span></h2>
	<%= link_to "New Round", :new_round %>
</div>
