body {
  background-image: url('/finishline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}

.error {
}
nav {
  background-color: black;
  position :fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}
nav h1 {
  display: inline-block;
  /*width: %;*/
}
#logout {
 color: white;
 float: right;
 text-decoration: none;
 margin-top: 25px;
}
#back {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}
#login_box {
  position: fixed;
  top:100px;
  left:50%;
  margin-left: -200px;
  width: 400px;
  height: 200px;
  border: 2px black solid;
  background-color: white;
}

#login_box input {
  width: 80%;
  margin-bottom: 10px;
}

#login_box div {
  /*display: inline-block;*/
  width: 175px;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
  /*height: 209px;*/
  height: 160px;
}
#login_box h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
#login_box  div:first-child {
  border-right: 2px black solid;
  float: left;
}
#login_box  div:nth-child(2) {
  /*border: 2px red solid;*/
  float: right;
}
#login_box .error {
  margin: 0;
  padding: 0;
}



#bet {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 15px;
  border: double #00FFFF 10px;
  border-radius: 35px;
}

#bet input[type='text'] {
  margin: 7px auto;
  width: 80%;
  display: block;
  border:none;
  border-radius: 5px;
  color: #00FFFF;
  text-align: center;
}

#bet input[type='submit'] {
  margin: 7px auto;
  width: 80%;
  height: 30px;
  display: block;
  border:none;
  border-radius: 5px;
  color: #00FFFF;
  text-align: center;
  border:grey double 5px;
  border-radius: 40px;
}
#bet input[type='submit']:hover {
  border:red double 5px;
  color: red;

}

#bet .red {
  background-color: red;
} 

#bet .green {
  background-color: green;
} 

#bet .yellow {
  background-color: yellow;
} 

#bet .blue {
  background-color: blue;
} 
#bet .error {
  color: red;
  font-weight: bold;
}






































