body {
  background-image: url('/finishline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
}


header {
  background-color: black;
  height: 15%;
  display: fixed;
  top: 20px;
}

nav {
  background-color: black;
  position :fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav h1 {
  color: white;
  display: inline-block;
  width: 20%;
}

#logout {
 color: white;
 float: right;
 text-decoration: none;
 margin-top: 25px;
}

.user_stuff {
  border: 2px black solid;
  width: 350px;
  height: 220px;
  position: absolute;
  top: 40%;
  left: 27%;
  background-color: white;
}

.user_stuff div {
  display: inline-block;
}

#signup {
  width: 43%;
  float: right;
  border-right: 2px solid black;
  height: 75%;
  margin: 10px;
}

#signin {
  width: 43%;
  float: right;
  padding: 10px;
  height: 100%
}

.error {
  color: red;
}
