body {
  background-image: url('/finishline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


header {
  background-color: black;
  height: 15%;
  display: fixed;
  top: 20px;
}

header h1 {
  color: white;
  margin: 0px;
}

.user_stuff {
  border: 2px black solid;
  width: 350px;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 27%;
  background-color: white;
}

.user_stuff div {
  display: inline-block;
}

#signup {
  width: 43%;
  float: right;
  border-right: 2px solid black;
  height: 75%;
  margin: 10px;
}
#signin {
  width: 43%;
  float: right;
  padding: 10px;
  height: 100%
}
